@import url("https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.judulsupport {
  font-size: 80px;
  padding: 5vw;
}

.desktop4 {
  background-image: url("./artem-beliaikin-_7AOeMSNAEw-unsplash.jpg");
  background-size: cover;
}

.namaisi {
  color: white !important;
  background-color: rgb(76, 76, 76);
  border-radius: 15px;
  padding: 20px;
  width: 50%;
  min-height: 80px;
  margin-top: 30vh;
  margin-left: 5vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.namaisi::placeholder {
  color: white;
  font-size: 2vw;
}

.suggestionsisi {
  color: white !important;
  background-color: rgb(76, 76, 76);
  border-radius: 20px;
  padding: 20px;
  min-width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 200px;
  resize: both;
  margin-left: 5vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.suggestionsisi::placeholder {
  color: white;
  display: flex;
  font-size: 2vw;
}

.buttonsub {
  min-height: 4vh;
  height: 4vw;
  width: 20%;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 10px;

  background-color: rgb(207, 111, 32);
  color: black;
}

.buttonsub:hover {
  background-color: rgb(38, 37, 37);
  color: white;
}

.tampungbutton {
  text-align: end;
  margin-right: 5vw;
}
