@import url("https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.judulsupport {
  font-size: 40px;
  padding: 5vw;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contact-form {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("./artem-beliaikin-_7AOeMSNAEw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
}

.suggestions {
  min-height: 10vh;
  text-align: center;
}

.suggestionsisi {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  margin: 20px;
  width: 80%;
  height: 20vh;
}

.namakotak {
  text-align: center;
}

.namakotakisi {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  margin: 20px;
  margin-bottom: 0;
  height: 5vh;
  width: 50%;
  text-align: center;
}

.tampungbutton {
  text-align: center;
}

.buttonsub {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(150, 146, 146);
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 10%,
    #af4904 20%,
    #1b0905 50%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonsub:hover {
  background-position: top !important;
  color: #fff;
  text-decoration: none;
}

.buttonsub:active {
  transform: scale(0.95);
}
