@import url("https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Jaini Purva", sans-serif;
  background-color: #2d2827;
  color: white;
}

.container {
  text-align: left;
}

.judul {
  font-size: 4vw;
  margin-top: 3vh;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

/* .judul h1 {
  text-align: left;
} */

.baltara {
  font-size: 6vw;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: -webkit-linear-gradient(#6f6f6f, #bc9f3f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.baltaraText {
  transition: opacity 0.9s ease-in-out;
}

.desktop1 {
  background-image: url("bali3.png");
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
  /*background-size: cover;*/
  background-position: center;
  width: 100vw;
  height: auto;
  top: 0;
  padding: 2vw;
  overflow-y: 20vh;
  text-align: center;
}

.footer {
  margin-top: 0vh;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
}

.balik {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 45px;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
}

.video p,
.video h2 {
  text-align: center;
  margin-left: 8%;
  margin-right: 5%;
}

@media (max-width: 768px) {
  .video p,
  .video h2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 6vh;
  margin-bottom: 6vh;
  width: 90%; /* Lebar video-container menjadi 100% dari lebar layar */
  max-width: 900px; /* Tentukan lebar maksimum untuk video-container */
  margin: auto;
}

.responsive-video {
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto;
}

@media (max-width: 350px){
  .video-container{
    width: 40px;
    height: 20px;
    /* justify-content: center;
    align-items: center; */
  }
}

.desc {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  width: 90%;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.desc h2 {
  animation: moveUpDown 2s infinite;
}

@media (max-width: 768px) {
  .video-container {
    margin-right: 15px;
  }

  .desc {
    width: 100%;
    font-size: 12px;
  }

  .judul {
    font-size: 8vw;
  }

  .footer {
    margin-top: 20vh;
  }

  .footer img {
    max-width: 100%;
    height: auto;
  }

  .footer video {
    max-width: 100%;
    height: auto;
  }
}

.slide {
  position: relative;
  margin-top: 10px;
  height: auto;
  overflow: hidden;
}

.pic1 {
  display: flex;
  transition: transform 0.5s ease;
}

.pic1 img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.slide2 {
  position: relative;
  margin-top: 10px;
  height: auto;
  overflow: hidden;
}

.pic2 {
  display: flex;
  transition: transform 0.5s ease;
}

.pic2 img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .pic2 img {
    height: auto;
  }
}

@media (max-width: 768px) {
  .pic1 img {
    height: auto;
  }
}

.slide3 {
  position: relative;
  margin-top: 10px;
  height: auto;
  overflow: hidden;
}

.pic3 {
  display: flex;
  transition: transform 0.5s ease;
}

.pic3 img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .pic3 img {
    height: auto;
  }
}

.pic1 img,
.pic2 img,
.pic3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
  margin-bottom: 30px;
  animation: fade 3s ease-in-out;
}

.highlight p {
  font-size: 4vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  margin-bottom: 2vh;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgfooter1 {
  background-color: #1f1d1d;
  /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  height: 50vh;
}

@media (max-width: 768px) {
  .bgfooter1 {
    height: 27vh;
    max-width: 70%;
    margin-left: 60px;
  }
}

.bgfooter2 {
  background-color: #1f1d1d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  height: 50vh;
}

@media (max-width: 768px) {
  .bgfooter2 {
    height: 27vh;
    max-width: 70%;
    margin-left: 60px;
  }
}

.bgfooter3 {
  background-color: #1f1d1d;
  /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  height: 50vh;
}

@media (max-width: 768px) {
  .bgfooter3 {
    height: 27vh;
    max-width: 70%;
    margin-left: 60px;
  }
}

.clock {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
  /* z-index: 999; */
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  /* width: 200px; */
}

@media (max-width: 768px) {
  .clock {
    font-size: 8px;
  }
}

@media (max-width: 350px) {
  .clock {
    padding-left: 100px;
  }
  .play {
    padding-bottom: 40px;
    margin-right: 0;
    width: 10px !important;
    left: -80 !important;
    font-size: 7px !important;
    text-align: center !important;
  }
}

.play {
  position: absolute !important;
  width: 80px;
  margin-right: 17px;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(#f70404, #f9cd06);
  mix-blend-mode: normal;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.judulHome {
  width: 200px;
}

.SoundApp {
  height: 0 !important;
}
/* 
@media (max-width: 768px){
  .keisen {
    width: 10px;
  }
} */

.play:hover {
  background: none;
  border: solid 1px #f70404;
  color: #f70404;
}

@media (max-width: 768px) {
  .play {
    /* margin-left: 23px; */
    font-size: 8px;
    width: 50px;
    height: 30px;
    padding: 0;
    /* Sesuaikan posisi horizontal ketika layar diminimalkan */
  }
}

.tekspanjang {
  min-width: 30vw;
}

.keisen {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  margin-left: 10px;
}

.play-btn {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#ff6347, #ff6347);
  cursor: pointer;
  outline: none;
  z-index: 999;
}

.play-btn::before {
  content: "";
  position: absolute;
  width: 93%;
  height: 93%;
  background-color: #000;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.play-btn:checked {
  animation: borderAnimate 700ms ease-in-out 1;
  animation-fill-mode: forwards;
  z-index: 999;
}

@keyframes borderAnimate {
  0% {
    transform: rotate(0);
    background: conic-gradient(#ff6347, transparent 20%);
  }

  80% {
    background: conic-gradient(#ff6347, transparent 90%);
  }

  100% {
    transform: rotate(360deg);
    background: conic-gradient(#ff6347, #ff6347);
  }
}

.play-icon {
  position: absolute;
  width: 15px;
  height: 20px;
  left: 60%;
  top: 85%;
  background-color: #ff6347;
  transform: translate(-60%, -50%) rotate(90deg);
  clip-path: polygon(50% 15%, 0% 100%, 100% 100%);
  transition: all 400ms ease-in-out;
  cursor: pointer;
  z-index: 999;
}

.play-btn:checked + .play-icon {
  clip-path: polygon(0 100%, 0% 100%, 100% 100%);
}

.pause-icon {
  position: absolute;
  width: 15px;
  height: 20px;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 999;
}

.pause-icon::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #ff6347;
  left: 0;
  z-index: 999;
}

.pause-icon::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #ff6347;
  right: 0;
  z-index: 999;
}

.play-btn:checked ~ .pause-icon::before {
  animation: reveal 300ms ease-in-out 350ms 1;
  animation-fill-mode: forwards;
}

.play-btn:checked ~ .pause-icon::after {
  animation: reveal 300ms ease-in-out 600ms 1;
  animation-fill-mode: forwards;
}

@keyframes reveal {
  0% {
    width: 0;
  }

  100% {
    width: 35%;
  }
}