@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    text-align: left;
}

.judul {
    font-size: 4vw; 
    margin-top: 3vh; 
    color: white;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5); 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.baltara {
    font-size: 6vw; 
    color: white;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5); 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.desktop1 {
    background-image: url('bali3.png');
    background-size: cover; /* Mengatur latar belakang untuk menutupi seluruh area kontainer */
    background-position: center; /* Pusatkan latar belakang */
    width: 100%; /* Menggunakan lebar 100% untuk kontainer */
    height: auto; /* Mengatur tinggi agar responsif */
    position: absolute;
    top: 0;
    left: 0;
    padding: 2vw;
    overflow-y: 20vh;
}

.footer {
    margin-top: 0vh;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
}

.balik {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 45px;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
}

.video p, 
.video h2 {
    text-align: center; 
    margin-left: 8%; 
    margin-right: 5%; 
}

@media (max-width: 768px) {
    .video p,
    .video h2 {
        margin-left: 0;
        margin-right: 0; 
    }
}

.video-container {
    position: relative;
    width: 80%;
    padding-top: 56.25%; 
    margin-bottom: 40px;
    margin-left: 10%;
}

.responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.desc{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5); 
    width: 90%; 
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Ubah jarak sesuai keinginan Anda */
    }
}

.desc h2 {
    animation: moveUpDown 2s infinite; /* Ubah durasi animasi sesuai kebutuhan Anda */
}


@media (max-width: 768px) {
    .video-container,
    .desc {
        width: 100%; /* Menyesuaikan lebar dengan layar kecil */
    }

    .judul {
        font-size: 8vw; 
    }

    .footer {
        margin-top: 20vh; 
    }

    .footer img {
        max-width: 100%; /* Membuat gambar maksimum 100% dari lebar parent */
        height: auto; /* Mengatur tinggi gambar agar proporsional dengan lebar */
    }

    .footer video {
        max-width: 100%; /* Membuat video maksimum 100% dari lebar parent */
        height: auto; /* Mengatur tinggi video agar proporsional dengan lebar */
    }
}


.slide {
    position: relative;
    margin-top: 10px; /* Adjust spacing as needed */
    height: auto;
    overflow: hidden;
}

.pic1 {
    display: flex;
    transition: transform 0.5s ease; /* Add smooth transition for slide effect */
}

.pic1 img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.slide2 {
    position: relative;
    margin-top: 10px; /* Adjust spacing as needed */
    height: auto;
    overflow: hidden;
}

.pic2 {
    display: flex;
    transition: transform 0.5s ease; /* Add smooth transition for slide effect */
}

.pic2 img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .pic2 img {
        height: auto; /* Adjust for smaller screens */
    }
}


@media (max-width: 768px) {
    .pic1 img {
        height: auto; /* Adjust for smaller screens */
    }
}

.slide3 {
    position: relative;
    margin-top: 10px; /* Adjust spacing as needed */
    height: auto;
    overflow: hidden;
}

.pic3 {
    display: flex;
    transition: transform 0.5s ease; /* Add smooth transition for slide effect */
}

.pic3 img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .pic3 img {
        height: auto; /* Adjust for smaller screens */
    }
}

.pic1 img,
.pic2 img,
.pic3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px; /* Sesuaikan tinggi maksimum gambar */
    margin-bottom: 10px; /* Tambahkan margin bawah untuk jarak antar gambar */
}

.highlight p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
}
