@import url("https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Jaini Purva", sans-serif;
  background-color: #2d2827;
  color: white;
}

.container {
  text-align: left;
}

.judul {
  font-size: 4vw;
  margin-top: 3vh;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.judul h1 {
  text-align: left;
}

.baltara {
  font-size: 6vw;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: -webkit-linear-gradient(#6f6f6f, #bc9f3f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.baltaraText {
  transition: opacity 0.9s ease-in-out;
}

.desktop1 {
  background-image: url("bali3.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: auto;
  top: 0;
  padding: 2vw;
  overflow-y: 20vh;
  text-align: center;
}

.footer {
  margin-top: 0vh;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.3);
  font-family: "Poppins", sans-serif;
}

.balik {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 45px;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
}

.video p,
.video h2 {
  text-align: center;
  margin-left: 8%;
  margin-right: 5%;
}

@media (max-width: 768px) {
  .video p,
  .video h2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.desc {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  width: 90%;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.desc h2 {
  animation: moveUpDown 2s infinite;
}

@media (max-width: 768px) {
  .video-container {
    margin-right: 15px;
  }

  .desc {
    width: 100%;
    font-size: 12px;
  }

  .judul {
    font-size: 8vw;
  }

  .footer {
    margin-top: 20vh;
  }

  .footer img {
    max-width: 100%;
    height: auto;
  }

  .footer video {
    max-width: 100%;
    height: auto;
  }
}

.slide {
  position: relative;
  margin-top: 10px;
  height: auto;
  overflow: hidden;
}

.pic1 {
  display: flex;
  transition: transform 0.5s ease;
}

.pic1 img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.slide2 {
  position: relative;
  margin-top: 10px;
  height: auto;
  overflow: hidden;
}

.pic2 {
  display: flex;
  transition: transform 0.5s ease;
}

.pic2 img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .pic2 img {
    height: auto;
  }
}

@media (max-width: 768px) {
  .pic1 img {
    height: auto;
  }
}

.slide3 {
  position: relative;
  margin-top: 10px;
  height: auto;
  overflow: hidden;
}

.pic3 {
  display: flex;
  transition: transform 0.5s ease;
}

.pic3 img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .pic3 img {
    height: auto;
  }
}

.pic1 img,
.pic2 img,
.pic3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
  margin-bottom: 30px;
  animation: fade 3s ease-in-out;
  
}

.highlight p {
  font-size: 4vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  margin-bottom: 2vh; 
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bgfooter1 {
  background-color: #1F1D1D;
  /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  height: 50vh;
}

@media (max-width: 768px) {
  .bgfooter1 {
    height: 27vh;
    max-width: 70%;
    margin-left: 60px;
  }
}

.bgfooter2 {
  background-color: #1F1D1D;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  height: 50vh;
}

@media (max-width: 768px) {
  .bgfooter2 {
    height: 27vh;
    max-width: 70%;
    margin-left: 60px;
  }
}

.bgfooter3 {
  background-color: #1F1D1D;
  /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  height: 50vh;
}

@media (max-width: 768px) {
  .bgfooter3 {
    height: 27vh;
    max-width: 70%;
    margin-left: 60px;
  }
}

.clock {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2vw; 
  color: white;
  letter-spacing: 1px;
  z-index: 999;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
  width: 200px;
}

@media (max-width: 768px) {
  .clock {
    font-size: 4vw; 
  }
}


.play {
  position: absolute; /* Tambahkan properti ini */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 20px; /* Sesuaikan posisi vertikal */
  right: 220px; /* Sesuaikan posisi horizontal */
}

.play:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .play {
    font-size: 12px;
    top: 40px; /* Sesuaikan posisi vertikal ketika layar diminimalkan */
    right: 20px; /* Sesuaikan posisi horizontal ketika layar diminimalkan */
  }
}




.tekspanjang {
  min-width: 30vw;
}

.video-container {
  width: 90%; /* Lebar video-container menjadi 90% dari lebar layar */
  margin: auto; /* Posisi video-container di tengah */
}

.responsive-video {
  width: 30%; /* Lebar video menjadi 100% dari lebar video-container */
  height: auto; /* Tinggi video menyesuaikan proporsi aspek */
}

