.container {
    text-align: left;
}

.judul{
    font-size: 100px;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: 'Biryani', sans-serif;
}

.desktop1 {
    background-image: url('bali3.png');
    object-fit:fill !important;
    background-size: cover;
    width: 1305px;
    height: 990px;
    position: absolute;
}

.balik img{
    width: 600px;
    height: 250px;
}

.footer {
    margin-top: 500px;
    color: white;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
     font-family: 'Average Sans', sans-serif;
}


