 .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .progress-container {
    width: 100%;
    height: 10px;
    background: #FEECE2;
    border-radius: 20px;
  }
  
  .progress-bar {
    height: 10px;
    background: -webkit-linear-gradient(#6f6f6f, #bc9f3f);
    background-clip: content-box;
    -webkit-text-fill-color: transparent;
    width: 0%;
    border-radius: 20px;
  } 