.input-control,
.select-control {
    background-color: #524C42;
    border-color: #E8DFCA;
    border-width: 4px;
    border-radius: 20px;
    color: white;
}

.input-control::placeholder,
.select-control {
    color: white;
}
