.input-control {
    background-color: #524C42; 
    border-color: #E8DFCA;
    border-width: 4px;
    border-radius: 20px; 
    background-image: url('./search.png'); 
    background-repeat: no-repeat; 
    background-position: 10px center; 
    padding-left: 40px; 
    background-size: 20px 20px;
    caret-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

.input-control:focus {
    background-color: #524C42;
    border-color: #E8DFCA;
    color: white;
    outline: transparent;
}

.input-control::placeholder {
    color: white;
    outline: none;
}

.input-control:focus::placeholder {
    color: white;
}
