.search {
    display: flex;
    justify-content:flex-end;
    align-items:end;
    margin-right: 10%;

@media screen and (max-width: 768px) {
        margin-right: 10%; 
        width: 25%;
    }
}

.input-control,
.select-control {
    background-color: #524C42;
    border-color: #E8DFCA;
    border-width: 4px;
    border-radius: 20px;
    color: white;
}

.input-control::placeholder,
.select-control {
    color: white;
}

