.search {
    display: flex;
    justify-content:flex-end;
    align-items:end;
    margin-right: 10%;

@media screen and (max-width: 768px) {
        margin-right: 10%; 
        width: 100%;
    }
}

.input-control,
.select-control {
    background-color: #524C42; /* Warna abu-abu gelap */
    border-color: #E8DFCA; /* Warna border */
    border-width: 4px; /* Ketebalan border */
    border-radius: 20px; /* Border radius */
    color: white; /* Warna teks */
}

.input-control::placeholder,
.select-control {
    color: white; /* Warna teks untuk placeholder/input */
}

