body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    position: fixed;
    margin-top: 100px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 35px;
    z-index: 999px;
}

.btn p {
    font-family: 'Poppins', sans-serif;
}

.button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: transparent; 
    color: #d85428;
    border: 2px solid #994D1C; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s, border-color .3s; /* Transition for smooth effect */
    position: fixed;
    margin-top: 100px;
    width: 120px;
    z-index: 999;
}

.button:hover {
    background-color: rgba(139, 50, 44, 0.1); /* Lighten background color on hover */
    border-color: #000; /* Change border color on hover */
}

.button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: #bd522e;
    background-color: #6B240C;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button:hover .button__icon-wrapper {
    color: #000;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
}

@media (max-width: 768px) {
    .button {
        width: 50px;
        height: 25px;
    }
}

.offcanvas {
    background-color: rgba(32, 30, 30, 0.8);
    color: white;
    width: 300px;
}

.logo img {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
}

.custom-offcanvas {
    max-width: 200px;
}

.offcanvas-header.logo {
    width: 100%;
    margin-top: 20px;
}

.offcanvas-header.logo img {
    width: 40px;
    margin: 0 auto;
    display: block;
}

.offcanvas-header .offcanvas-title {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.offcanvas-header .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.custom-search {
    background-color: rgba(32, 30, 30, 0.8);
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.custom-search::placeholder {
    color: white;
}

.offcanvas-body h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Home */
.mainmenu .btn-home {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 0px;
}

.mainmenu .btn-home img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.mainmenu .btn-home span {
    font-size: 14px;
    color: white;
    margin-left: 2vh;
    font-family: 'Poppins', sans-serif;
}

.btn-home span:hover {
    text-decoration: underline;
}

/* Foods */
.mainmenu .btn-foods {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top:55px;
}

.mainmenu .btn-foods img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.mainmenu .btn-foods span {
    font-size: 14px;
    color: white;
    margin-left: 2vh;
    font-family: 'Poppins', sans-serif;
}

.btn-foods span:hover {
    text-decoration: underline;
}

/* About Us */
.mainmenu .btn-abtus {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 110px;
}

.mainmenu .btn-abtus img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.mainmenu .btn-abtus span {
    font-size: 14px;
    color: white;
    margin-left: 2vh;
    font-family: 'Poppins', sans-serif;
}

.btn-abtus span:hover {
    text-decoration: underline;
}

/* Support */
.support .btn-support {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 180px;
}

.support .btn-support img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.support .btn-support span {
    font-size: 14px;
    color: white;
    margin-left: 2vh;
    font-family: 'Poppins', sans-serif;
}

.btn-support span:hover {
    text-decoration: underline;
}

.logo2 img {
    width: 40px;
    height: 40px;
    margin-left: 50px;
}

/* iconbali */
.btn-secondary img {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.btn-secondary {
    background-color: rgba(32, 30, 30, 0.5);
}

@media (max-width: 768px) {
    .offcanvas {
        width: 250px;
    }
}

@media (max-width: 576px) {
    .offcanvas {
        width: 200px;
    }

    .logo img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-top: 5px;
    }

    .offcanvas-header .offcanvas-title {
        font-size: 20px;
        margin-top: 5px;
    }

    .custom-search {
        border-radius: 15px;
    }

    .mainmenu .btn-home img,
    .mainmenu .btn-foods img,
    .mainmenu .btn-abtus img,
    .support .btn-support img {
        width: 25px;
        height: 25px;
    }

    .mainmenu .btn-home span,
    .mainmenu .btn-foods span,
    .mainmenu .btn-abtus span,
    .support .btn-support span {
        font-size: 12px;
    }
}

.musik-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musik {
    background-color: #222831;
    margin-top: 20px;
    margin-left: 25px;
    color: white;
}

.musik:hover {
    background-color: black;
}

.mainmenu {
    margin-top: 10px;
}

.menu {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.play {
    margin-top: 20px;
    margin-left: 10px;
}

    .bottomLine {
        margin-top: 14px;
        margin-bottom: 20px;
    }