@import url("https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

#team {
  display: flex;
  justify-content: flex-start; /* Memulai di ujung tanpa jarak ekstra */
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("kel4full.jpg");
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center top;
  padding-top: 10vh;
  gap: 0;
}

.team-heading h3 {
  color: #ffffff;
  font-size: 3rem;
  text-transform: uppercase;
}

.team-box {
  width: 100%;

  padding: 20px;
  user-select: none;
}

.t-b-img {
  width: 100%;
  height: 350px;
  position: relative;
}

.t-b-img::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 150px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.t-b-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  filter: grayscale(1);
}

.swiper-slide-active .t-b-img img {
  filter: grayscale(0);
}

.t-b-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-b-text strong {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}

.t-b-text span {
  color: grey;
  font-size: 0.9rem;
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.ig {

  height: 4vh;
}

.team-social a {
  width: 2vw;
  height: 2vhcd;
  margin: 0px 5px;
  color: #ffffff;
  font-size: 0.9rem;
  transition: all ease 0.3s;
}

.team-social a:hover {
  color: #0617ff;
}

.swiper {
  max-width: 745px;
  width: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px !important;
  opacity: 0.2;
  margin: 50px 0px;
  margin-top: 0px;
}

.swiper-slide-active {
  opacity: 2;
  border: 10px solid rgb(132, 69, 69);
}

.description1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("/public/images/bgabout.png");

  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-blend-mode: darken;
  background-size: contain;
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.desc1abt {
  max-width: 745px;
  padding-left: 5vw;
  width: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: xx-large;
  align-self: center;
  text-align: center;
}

.desc2abt {
  font-weight: 100;
  padding-left: 50px;
  padding-right: 50px;
  align-self: center;
  text-align: justify;
  color: white;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 724px) {
  .team-heading h3 {
    font-size: 2.6rem;
  }
  .description1 {
    flex-direction: column;
  }
}

.pisah1 {
  width: auto;
  height: auto;
}
